<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=85.190.254.173;
         Initial Catalog=2122_INF1b_db2; User=2122_INF1b_groep2; Password=aQXnxx&amp;aBU6&amp;"/>
	</connectionStrings>
</configuration>
